{% extends 'blog/base2.html' %}
{% load static%}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white-my-5">About Page</h3>
</h3>

</div>
<div class="about">
<p>
this is the particuler BLog post Site.this is the particuler BLog post Site.this is the particuler BLog post Site.this is the particuler BLog post Site.
this is the particuler BLog post Site.
this is the particuler BLog post Site.this is the particuler vBLog post Site.this is the particuler BLog post Site.
this is the particuler BLog post Site.this is the particuler BLog post Site.
this is the particuler BLog post Site.this is the particuler BLog post Site.
this is the particuler BLog post Site.this is the particuler BLog post Site.
this is the particuler BLog post Site.this is the particuler BLog post Site.
this is the particuler BLog post Site.
<span id="dots">...</span> 
<span id="more">
this is the particuler BLog post Site.this is the particuler BLog post Site.
this is the particuler BLog post Site.
this is the particuler BLog post Site.
this is the particuler BLog post Site.this is the particuler BLog post Site.this is the particuler BLog post Site.this is the particuler BLog post Site.this is the particuler BLog post Site.this is the particuler BLog post Site.
this is the particuler BLog post Site.
this is the particuler BLog post Site.this is the particuler BLog post Site.this is the particuler BLog post Site.
this is the particuler BLog post Site.this is the particuler BLog post Site.
this is the particuler BLog post Site.this is the particuler BLog post Site.this is the particuler BLog post Site.
this is the particuler BLog post Site.this is the particuler BLog post Site.this is the particuler BLog post Site.
this is the particuler BLog post Site.this is the particuler BLog post Site.this is the particuler BLog post Site.
</span>
</p>
<button id="readbtn" onclick="read()">Read more</button>
</div>
<footer>
<div class="main-container">
    <div class="main-container-1">
    
    </div>
    <div class="main-container-2">
    
    </div>
    <div class="main-container-3">
    
    </div>

</div>
<footer>
{% endblock content %}